* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(images/space.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-position: right;
}

.header {
    display: flex;
    background-color: #56397e;
    margin: 0px;
    padding: 30px;
    margin-top: 0px;
    justify-content: center;  
}
.header h1{
    font-size: 58px;
    color: rgb(0, 0, 0);
}

.main-page {
    display: flex;
    display: row;
}

.side-panel {
    display: flex;
    flex-direction: column;
    background-image: url(images/jocke.png);
    box-shadow: 0px 0px 32px 3px #000000;
    width: 400px;
    gap: 440px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent-bar {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    padding: 12px;
    width: 376px;
    height: 40px;
    text-align: center;
    
}

.side-panel-info{
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 250px;
    line-height: 1.8; 
}

.main-panel {
    height: 100vh;
    margin: 100px;
}

button {
    height: 350px;
    width: 350px;

}

button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(228, 92, 255, 0.8);
    transition: box-shadow 0.3s ease;
}

#etch-button {
    background-image: url('images/etcha.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#rock-button {
    background-image: url('images/rock.png');
    background-size: 450px;
    background-position: center;

}

.footer {
    display: flex;
    background-color:#56397e;
    font-size: 18px;
    color: #355c30;
    margin: 0px;
    padding: 30px;
    margin-top: 0px;
    justify-content: center;
}

a{
    font-size: 40px;
    font-weight: 800;
}

a:link {
    color: rgb(0, 0, 0);
  }
  
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    color: rgb(187, 56, 121);
  }
  
  a:active {
    color: rgb(100, 59, 155);
  }